body {
    background-color: #212121;
    color: #fafafa;
}

.nav-extended {
    background-color: #00bfa5;

}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-panel {
    color: #212121;
}

.flashes h4 {
    line-height: 2;
}

.collapsible-header {
    background-color: brown;
}
.collapsible-body {
    background-color: blue;
}

input {
    color: #fafafa;
}

/*------------------------------------------------------------------------------------ Log in */
#username,
#password {
    color: #212121;
}

.datepicker-table-wrapper {
    color: #212121;
}

.valid {
    color: #fafafa;
}