body {
    background-color: #212121;
    color: #fafafa;
}

.nav-extended {
    background-color: #00bfa5;

}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-panel {
    color: #212121;
}

.flashes h4 {
    line-height: 2;
}