{% extends "base.html" %}
{% block content %}

    <h3>All Tasks</h3>

    <ul class="collapsible popout">
        {% for task in tasks %}
            <li>
                <div class="collapsible-header">
                    <i class="fas fa-caret-down"></i>
                    <strong>
                        {{ task.task_name }}
                    </strong> :
                    {{ task.due_date }}
                    {% if task.is_ongoing == "on" %}
                        <i class="fas fa-exclamation-circle tooltipped"
                            data-position="right" data-tooltip="Ongoing!"></i>
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    <strong>
                        {{ task.category_name }}
                    </strong>
                    <p>
                        {{ task.task_description }}
                    </p>
                    <p>
                        <em>
                            Created by: {{ task.created_by }}
                        </em>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}